body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Poppins;
    font-size: 120%;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}
.card {
    background: #222;
    color: white;
    opacity: 90%;
    padding: 3em;
    border-radius: 25px;
    width: 100%;
    max-width: 420px;
    margin: 2em;
    text-align: center;
}
.temp {
    margin: 0;
}
button {
    margin: 0.5 em;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #7c7c7c6b;
}
input.search-bar {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0.4em 1em;
    background: #7c7c7c2b;
    color: white;
    font-size: 100%;
    font-family: Poppins;
    width: 80%;
}
.decription {
    text-transform: capitalize;
    margin-left: 8px;
}